@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Arvo", serif;
}

.header {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.camera-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next line */
  justify-content: space-evenly;
  padding: 50 px; /* Adjust spacing between items */
}

.camera-card {
  flex: 0 1 calc(33.33% - 10px); /* Three items per row with some space */
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid #000000;
  padding: 20px;
}

.camera-image {
  max-width: 100%; /* Ensures image scales with the container */
  height: auto;
  border: 1px solid #000000;
  border-radius: 5px;
  min-width: 320px;
  transition: transform 0.8s ease;
}

.camera-image:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .camera-card {
    flex: 0 1 calc(33.33% - 10px);
  }
}

@media (max-width: 480px) {
  .camera-card {
    flex: 0 1 calc(50% - 10px);
  }
}
